<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Diamond9">

        <activity
            android:name=".CoachAct"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".GameListActivity" android:exported="false" />

        <activity android:name=".PitcherListActivity" android:exported="false" />
        <activity android:name=".PitchTrackActivity" android:exported="false" />
        <activity android:name=".StatsActivity" android:exported="false" />
        <activity android:name=".SettingsActivity" android:exported="false" />
        <activity android:name=".TeamListActivity" android:exported="false" />
        <activity android:name=".TeamDetailActivity" android:exported="false" />
        <activity android:name=".OpponentLineupActivity" android:exported="false" />
        <activity android:name=".GameHubActivity" android:exported="false" />
        <activity android:name=".OwnLineupActivity" android:exported="false" />
        <activity android:name=".ManageOpponentsActivity" android:exported="false" />
        <activity android:name=".BattingTrackActivity" android:exported="false" />
        <activity android:name=".SeasonStatsActivity" android:exported="false" />
        <activity android:name=".BatterStatsActivity" android:exported="false" />
        <activity android:name=".AboutActivity" android:exported="false" />

    </application>

</manifest>
